<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Sitters</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Rubik&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=PT+Serif:wght@700&family=Rubik&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,400&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/stylePetSitters.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class="flex justify-between items-center p-4 bg-white shadow-md">
      <a href="http://localhost:3000">
        <div class="logo">
          <img src="/images/logo.png" alt="" />
        </div>
      </a>
      <nav class="flex gap-2">
        <!-- Navigation Links -->
        <a
          href="http://localhost/petsphere2/index.php"
          class="text-gray-600 hover:text-gray-900"
          >Forum</a
        >
        <a href="/service" class="text-gray-600 hover:text-gray-900">Service</a>
        <a href="#" class="text-gray-600 hover:text-gray-900">Shop</a>
        <a href="#" class="text-gray-600 hover:text-gray-900">About</a>
      </nav>
    </header>

    <hr />

    <h1>Choose your perfect pet sitting plan</h1>

    <div class="container text-center">
      <div class="row align-items-start rowService">
        <div class="col">
          <div class="card cardService shadow" style="width: 25rem">
            <div class="card-body">
              <h5 class="card-title">
                <span class="numDays">1</span
                ><span class="packageName">Day Sitting</span>
              </h5>
              <p class="card-text">
                <span class="dollar">$</span> <span class="price">20</span>
              </p>
              <a href="/purchaseSitter" class="book">BOOK</a>
              <p class="desc">
                Unleash the fun with a one-time sitting session for just $20.
                Perfect <br />for sniffing out what makes us the best!
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card cardService shadow" style="width: 25rem">
            <div class="card-body">
              <h5 class="card-title">
                <span class="numDays">7</span
                ><span class="packageName">Days Package (8 hr/Day)</span>
              </h5>
              <p class="card-text">
                <span class="dollar">$</span> <span class="price">16/Day</span>
              </p>
              <a href="/purchaseSitter" class="book">BOOK</a>
              <p class="desc">
                Treat your pup to a week of fun explorations for only $16/
                <br />day. They’ll thank you with cuddles!
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card cardService shadow" style="width: 25rem">
            <div class="card-body">
              <h5 class="card-title">
                <span class="numDays">14</span
                ><span class="packageName">Days Package (8 hours/Day)</span>
              </h5>
              <p class="card-text">
                <span class="dollar">$</span> <span class="price">12/Day</span>
              </p>
              <a href="/purchaseSitter" class="book">BOOK</a>
              <p class="desc">
                Commit to two weeks of canine bliss for a friendly rate of
                <br />$12/day. Happy paws, happy you!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h1>Meet our passionate dog sitters</h1>

    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">
          <div class="card walkerCard" style="width: 25rem">
            <div class="card-body">
              <img src="/images/Rectangle517.png" alt="" />
              <p class="name">Laura Maynard</p>
              <p>North Oakland, Pittsburgh</p>
              <p>Dog Sitter for 4 months</p>
              <p>5 stars (5.0/5.0)</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card walkerCard" style="width: 25rem">
            <div class="card-body">
              <img src="/images/Rectangle518.png" alt="" />
              <p class="name">Audrey</p>
              <p>Shadyside, Pittsburgh</p>
              <p>Dog Sitter for 1 year</p>
              <p>4.5 stars (4.5/5.0)</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card walkerCard" style="width: 25rem">
            <div class="card-body">
              <img src="/images/Rectangle519.png" alt="" />
              <p class="name">Eleanor</p>
              <p>Squirrel hill, Pittsburgh</p>
              <p>Dog Sitter for 3 years</p>
              <p>4 stars (4.0/5.0)</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container bottomContainer">
      <img src="/images/Rectangle520.png" alt="" style="width: 100%" />
      <div class="centered">
        <h1>JOIN OUR PACK OF PET SITTERS</h1>
        <a href="/becomeSitter" class="gradientborder"
          ><button>Sign up today >></button></a
        >
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer-container">
      <div class="footer-section">
        <h4>FORUM</h4>
        <a href="http://localhost/petsphere2/login.php">Log in</a>
        <a href="http://localhost/petsphere2/index.php">Pet Forum</a>
      </div>
      <div class="footer-section">
        <h4>FIND SERVICE</h4>
        <a href="#">Provide Service</a>
        <a href="#">Find Provider</a>
      </div>
      <div class="footer-section">
        <h4>SHOPPING</h4>
        <a href="#">Food/Snacks</a>
        <a href="#">Toys</a>
      </div>
      <div class="footer-section">
        <h4>ABOUT US</h4>
        <a href="#">FAQ</a>
        <a href="#">Help/Support</a>
      </div>

      <div class="footer-section social-media">
        <div class="footer-section logo">
          <img src="images/logo.png" alt="" />
        </div>
        <!-- Social Media -->
        <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-link"><i class="fab fa-youtube"></i></a>
      </div>
    </footer>
  </body>
</html>
